.modal-menu.is-hidden {
  display: none;
}
.overlay-modal-menu.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-menu {
  background-color: gray;
}
.overlay-modal-menu {
  background-color: bisque;
}
.burger-menu-close {
  stroke: getColor('light-icon');
}
