<footer class="section">
  <div class="container">
    <h2>Contacts</h2>
    <address>
      <ul>
        <li>
          <svg>
            <use></use>
          </svg>
          <p>Lviv, st. Doroshenko, 44 k</p>
        </li>
        <li>
          <svg>
            <use></use>
          </svg>
          <a href="tel:+380971626790">+38 (097) 162 -67-90</a>
        </li>
        <li>
          <svg>
            <use></use>
          </svg>
          <a href="mailto:mandrykarpaty@gmail.com">mandrykarpaty@gmail.com</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="">
            <svg>
              <use></use>
            </svg>
          </a>
        </li>
        <li>
          <a href=""
            ><svg>
              <use></use></svg
          ></a>
        </li>
        <li>
          <a href=""
            ><svg>
              <use></use></svg
          ></a>
        </li>
      </ul>
    </address>
    <p>&#169; Created by LelekaSoft</p>
  </div>
</footer>
