<header class="section page-header">
  <div class="container">
    <nav class="header-nav">
      <a class="logo" href="">
        <svg width="34" height="36">
          <use href="../img/icons-sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="nav-menu">
        <li class="nav-menu_item">About us</li>
        <li class="nav-menu_item">Tours</li>
        <li class="nav-menu_item">Reviews</li>
        <li class="nav-menu_item">Gallery</li>
        <li class="nav-menu_item">Contacts</li>
      </ul>
      <a class="burger-menu" href="">
        <svg width="40" height="40">
          <use href="../img/icons-sprite.svg#icon-menu"></use>
        </svg>
      </a>
    </nav>
  </div>
</header>
