<section class="section">
  <div class="container">
    <div class="hero-animation-wrapper">
      <h1 class="hero-title">Tours to the Carpathians from Lviv</h1>
      <div class="hero-animation"></div>
    </div>
    <p class="hero-description">
      Journeys to the very heart of the Carpathians for those who want a real
      reboot
    </p>
    <button class="button" type="button">Book a tour</button>
    <ul>
      <li>
        <a href="">
          <svg>
            <use></use>
          </svg>
        </a>
      </li>
      <li>
        <a href=""
          ><svg>
            <use></use></svg
        ></a>
      </li>
      <li>
        <a href=""
          ><svg>
            <use></use></svg
        ></a>
      </li>
    </ul>
  </div>
</section>
