<section class="section">
  <div class="container">
    <h1>Tours to the Carpathians from Lviv</h1>
    <p>
      Journeys to the very heart of the Carpathians for those who want a real
      reboot
    </p>
    <button type="button">Book a tour</button>
    <ul>
      <li>
        <a href="">
          <svg>
            <use></use>
          </svg>
        </a>
      </li>
      <li>
        <a href=""
          ><svg>
            <use></use></svg
        ></a>
      </li>
      <li>
        <a href=""
          ><svg>
            <use></use></svg
        ></a>
      </li>
    </ul>
  </div>
</section>
