<div class="overlay-modal-menu hidden">
  <div class="modal-menu" data-mobile>
    <div class="burger-menu-close">
      <svg width="40" height="40">
        <use href="../img/icons-sprite.svg#icon-close"></use>
      </svg>
    </div>
    <div>
      <nav>
        <a class="logo" href="">
          <svg width="34" height="36">
            <use href="../img/icons-sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="mob-nav-menu">
          <li class="mob-nav-menu_item">About us</li>
          <li class="mob-nav-menu_item">Tours</li>
          <li class="mob-nav-menu_item">Reviews</li>
          <li class="mob-nav-menu_item">Gallery</li>
          <li class="mob-nav-menu_item">Contacts</li>
        </ul>
      </nav>
      <ul class="socials-list">
        <li class="socials-list_item">
          <a href="">
            <svg width="40" height="40">
              <use href="../img/icons-sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="socials-list_item">
          <a href=""
            ><svg width="40" height="40">
              <use href="../img/icons-sprite.svg#icon-instagram"></use></svg
          ></a>
        </li>
        <li class="socials-list_item">
          <a href=""
            ><svg width="40" height="40">
              <use href="../img/icons-sprite.svg#icon-facebook"></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</div>
