<section class="section">
  <div class="container">
    <h2>Our advantages</h2>
    <ul>
      <li>
        <svg>
          <use></use>
        </svg>
        <p>author's tours</p>
      </li>
      <li>
        <svg>
          <use></use>
        </svg>
        <p>individual approach</p>
      </li>
      <li>
        <svg>
          <use></use>
        </svg>
        <p>affordable prices</p>
      </li>
      <li>
        <svg>
          <use></use>
        </svg>
        <p>comfortable transfer</p>
      </li>
      <li>
        <svg>
          <use></use>
        </svg>
        <p>professional guides</p>
      </li>
      <li>
        <svg>
          <use></use>
        </svg>
        <p>accommodation in hotels from 3+ *</p>
      </li>
    </ul>
  </div>
</section>
