<section class="section">
  <div class="container">
    <h2>Do you have any questions?</h2>
    <form action="">
      <p>
        You can leave your questions here and our manager will call you back
        within 10 minutes
      </p>
      <label for="">
        <input type="text" />
      </label>
      <label for="">
        <input type="text" />
      </label>
      <label for="">
        <area shape="" coords="" href="" alt="" />
      </label>
      <button type="submit">Call me</button>
    </form>
  </div>
</section>
