<section class="section">
  <div class="container">
    <h2>Upcoming tours</h2>
    <ul>
      <li>
        <img src="" alt="" />
        <h3>Ascent to Hoverla</h3>
        <p>From UAH 4,499/person</p>
        <button type="button">More details</button>
      </li>
      <li>
        <img src="" alt="" />
        <h3>Ski tour to Bukovel</h3>
        <p>From UAH 7,499/person</p>
        <button type="button">More details</button>
      </li>
      <li>
        <img src="" alt="" />
        <h3>Week in Carpathians</h3>
        <p>From UAH 9,999/person</p>
        <button type="button">More details</button>
      </li>
    </ul>
  </div>
</section>
